<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<% if current_user %>
<p><%= link_to "Create new product", new_product_path %></p>
<% end %>

<form>
  <label for="product with most reviews">Want to see the product with most reviews? </label>
  <input type="hidden" name="most_reviews" >
  <button type="submit" name="button">Click here!</button>
</form>
<form>
  <label for="most recent three products">Want to see the threw most recent products? </label>
  <input type="hidden" name="most_recent" >
  <button type="submit" name="button">Click here!</button>
</form>
<form>
  <label for="products made in USA">Want to see the products made in USA? </label>
  <input type="hidden" name="made_in_usa" >
  <button type="submit" name="button">Click here!</button>
</form>

